{% extends "posts/base.html"%}
{% block content %}

    <div class="container mt-1">    
        <div class="jumbotron text-center">
    		
 
            <hr class="my-4">

            <p class="lead"> 
            	<strong>P-Funder</strong> is a platform developed to fundraise, whether you are an individual, group, or organization.</br>
                Feel free to ask for any kind of help
                 
            </p>
            <hr>
            <p class="lead">
            	Developed By<br>
            	<A target ="_blank"  href='https://www.instagram.com/t_w01f/' class="float-left mt-2 btn btn-outline-dark btn-lg">M. Talal Jamil</A>

            	
            	<span class="float-right mt-2 btn btn-outline-dark btn-lg">M. Taha Mehmood</span>
            
          
            </p>

            
        </div>

    </div>

{% endblock content %}
